/* regole generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: raleway, open-sans;
}



/* top page */
.top-page {
    background-color: #f0f0f2;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: top;
}

/* paragrafo */
.top-page p {
    width: 40%;
    padding: 2%;
    font-size: 12px;
    color: #000;
}

/* selezione paese */
.select-country {
    text-align: center;
    background-color: white;
    margin: 2%;
    padding: 8px;
    border-radius: 4px;
}

.country::before {
    content: '\2713';
    margin-right: 12px;
    color: #000;
}

.country::after {
    content: '\2228';
    margin-left: 80px;
    color: #000;
}

.select-country:hover {
    cursor: pointer;
}

/* pulsante 1 */
.pulsante-principale a {
    padding: 1em;
    background-color: #000;
    color: white;
    text-decoration: none;
    font-weight: 800;
    border-radius: 4px;
    margin: 2%;
}

.pulsante-principale a:hover { 
background-color: rgb(46, 46, 46);
}

/* pulsante 2 */
.close-window {
    margin: 2%;
    border: none;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
}


/* navigazione principale */
.nav-item-group {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 2%;
    align-items: center;
}

.item {
    width: 1em;
    height: auto;
}

.nav-item {
    padding: 2px;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
}

.nav-item:hover {
    color: rgb(46, 46, 46);
}



/* css video */
.container-video {
    width: 96%;
    height: 460px;
    margin: 0 auto;
    opacity: 0.8;
    background: #000;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.container-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.spacer {
    height: 60vh;
}